*~
*.o
*.so
*.cache
*.log
.deps
.libs
*.8
.dirstamp
/gummiboot
/gummiboot.so
/gummibootia32.efi
/gummibootx64.efi
/test-disk

Makefile
aclocal.m4
stamp-h.in
Makefile.in
configure
config.h
config.h.in
config.guess
config.status
config.sub
stamp-h
stamp-h1
m4/*.m4
config.rpath
mkinstalldirs
compile
depcomp
install-sh
missing

# wanted files
!m4/arch.m4
